<div class="flex flex-wrap justify-center gap-6 md:justify-start">
    <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 ">
        <app-dashboard-chart [chartDetails]="data"></app-dashboard-chart>
    </a>
    <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 ">
        <app-dashboard-chart [chartDetails]="barChart"></app-dashboard-chart>
    </a>
    <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 ">
        <app-dashboard-chart [chartDetails]="paiChart"></app-dashboard-chart>
    </a>
    <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 ">
        <app-dashboard-chart [chartDetails]="radarChart"></app-dashboard-chart>
    </a>
</div>